@using Microsoft.AspNet.Identity

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@ViewBag.Title – Ergosystem</title>
       <link href="~/public/css/main.css" rel="stylesheet" />
        <script type="text/javascript" src="~/public/js/jquery.js"></script>
        <script type="text/javascript" src="~/public/js/main.js"></script>
    </head>
    <body>
        <!-- Page -->
        <div id="page">

            <!-- Header -->
            <div id="header">
                <div class="main">
                    <div class="logo">
                        <h1><a href="@Url.Action("", "Home")"><img src="~/public/images/logotype.gif" alt="Ergosystem" /></a></h1>
                    </div>
                    <div class="social">
                        @{Html.RenderAction("Count", "Home");}
                        <ul>
                            <li><a href="@Url.Action("", "BAsket")"><img src="~/public/images/icons/basket.png" alt="Basket" /></a></li>
                        </ul>
                    </div>
                    <div class="menu">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            <ul>
                                @Html.AntiForgeryToken()
                                <li class="first"><a href="@Url.Action("", "Home")">Главная</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Furniture</a></li>
                                <li>
                                    <a href="@Url.Action("Profil", "Home")">Профиль</a>
                                </li>
                                <li>
                                    @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul>
                            <li><a href="@Url.Action("", "Home")">Главная</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Furniture</a></li>
                            <li><a href="#">Office Fitouts</a></li>
                            <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                   </div>
               </div>
                <div class="relax">&nbsp;</div>
            </div>
            <!-- Content -->

            <div id="content">
                <div class="main">
                    <div class="sidebar">
                        <div class="sub-menu">
                            <h2>МЕБЕЛЬ</h2>
                            <ul>
                                @{Html.RenderAction("Index", "Catalog");}
                            </ul>
                        </div>
                        <div class="banner">
                            <img src="~/public/images/pictures/pic-1.png" alt="Picture" />
                            <div class="txt">
                                <h4>CALL US NOW ON<span>(07) 3268 7722</span>FOR MORE INFORMATION</h4>
                            </div>
                            <div class="moved"></div>
                        </div>
                        <div class="feature-box">
                            <img src="~/public/images/pictures/img-1.jpg" alt="Picture" />
                            <h3>SCOPE EXECUTICE CHAIR</h3>
                            <a href="#">See All Featured Products &gt;</a>
                        </div>
                        <div class="feature-box">
                            <img src="~/public/images/pictures/img-2.jpg" alt="Picture" />
                            <h3>PROJECT MANAGEMENT</h3>
                            <a href="#">View More Projects &gt;</a>
                        </div>
                    </div>
                    <div class="content-area">
                        <h2>МЕБЕЛЬ</h2>
                        @RenderBody()
                        @RenderSection("breadcrumbs", false)
                        @RenderSection("mainText", false)
                        @RenderSection("filtr", false)
                        <ul class="product">
                             @RenderSection("Products", false)
                       </ul>
                        <div class="relax">&nbsp;</div>
                       
                        @RenderSection("pages", false)
                    </div>
                    <div class="relax">&nbsp;</div>
                </div>
                <div class="top-bg">
                    <div class="main">
                        <ul>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                            <li><a href="#"><img src="~/public/images/pictures/pic-2.png" alt="Picture" /></a></li>
                        </ul>
                        <div class="txt">OUR COLLECTION</div>
                        <div class="relax">&nbsp;</div>
                    </div>
                </div>
               
            </div>

            
        @RenderSection("Scripts", false)
    </body>
</html>